
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     
    background-color: rgb(255, 251, 235);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 45px;
    font-family: 'Hepta Slab', serif;
    margin-top: 2%;
    color: #515151;
}

h4{
    font-size: 40px;
    margin-left: 2%;
    margin-top: 2%;
}

.tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h3{
    font-size: 35px;
    font-family: 'Hepta Slab', serif;
    margin-top: 18%;
    color: #515151;
}

h3:hover{
    font-style: italic;
    font-size: 37px;
    color: #a7a7a7;
}